In [1]:
%load_ext sql

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
%env DATABASE_URL=postgresql+psycopg2://ifrs:ifrs@localhost/base_dados_disciplinas
%sql

env: DATABASE_URL=postgresql+psycopg2://ifrs:ifrs@localhost/base_dados_disciplinas

'Connected: ifrs@base_dados_disciplinas'

In [3]:
%sql select * from db_cra.quote;

 * postgresql+psycopg2://ifrs:***@localhost/base_dados_disciplinas
14 rows affected.

[(2, 1, 'COTA 2', '2', '', None, False),
 (1, 1, 'COTA 1', '1', '', None, True),
 (3, 1, 'COTA 10', '10000', 'faslfjl', 'faslfjaslj', False),
 (4, 1, 'COTA 40', '40', '', '', False),
 (5, 1, 'COTA 30', '45', 'FALSJFA', '', False),
 (6, 1, 'cota 21', 'fas', '', '', False),
 (7, 1, 'COTA 1c', '1c', '', '', False),
 (1, 3, 'COTA 1', '1', 'cs', 'fsd', False),
 (3, 7, 'COTA 40', '40', 'ggg', 'ddd', False),
 (4, 7, 'COTA 3', '3', 'FALFJAL', 'FASFAS', False),
 (1, 7, 'COTA 10', '1', 'FASDFA', 'AFASDFASFAS', False),
 (6, 7, 'COTA 16', '2', 'FASFA', 'FASRA', False),
 (2, 7, 'COTA 2', '4', '', '', False),
 (5, 7, 'COTA 5', '5', 'fasfasfa', 'fafafa', False)]